@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center" style="max-width: 20rem;text-align: center; margin: auto;">
<h1>About this App</h1>

<figure class="text-center">
  <blockquote class="blockquote">
    <p class="mb-0">This App is based on a Microsoft .Net Core sample app. Application was revamped</p>
  
  </blockquote>
  <figcaption class="blockquote-footer">
     <cite title="Source Title">Sameera Perera</cite>
  </figcaption>
</figure>

<p></p>
</div>